
<!DOCTYPE html>
<!--page d'accueil-->
<head>
    <title>Todo App</title>
    <link rel="stylesheet" href="/static/stylesheets/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Candal|Chewy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
  <div class="todo-container">
  <h1> Accueil</h1>
  </br>
  <h3>Ceci est une application pour organiser et faire des todo listes.</h3>



<a href="/register">S'inscrire</a></br>
<a href="/login">Se connecter</a>
  </div>
</body>